name: test

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        ruby: ['2.5', '2.6', '2.7', '3.0']
    name: Ruby ${{ matrix.ruby }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - env:
          STREAM_CHAT_API_KEY: ${{ secrets.STREAM_CHAT_API_KEY }}
          STREAM_CHAT_API_SECRET: ${{ secrets.STREAM_CHAT_API_SECRET }}
          STREAM_CHAT_API_HOST: ${{ secrets.STREAM_CHAT_API_HOST }}
        run: |
          bundle exec rake rubocop
          bundle exec rake test
